body {
    margin: 0;
    padding: 0;
    width:  100vw;
    height: 100vh;
    overflow: hidden;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Telefon alanı */
#phone {
    width: 100vw;
    height: 100vh;

    max-width: 420px;   /* tablet / pc */
    max-height: 900px;

    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
#logo {
    width: 200px;
    margin: 20px 0;
}

/* Oyun alanı */
#game {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

#game img {
    width: 100%;
    touch-action: none;
}
#game img {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.pop {
    opacity: 0;
    transform: scale(0.5);
}
#score {

    font-family: "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;

    /* BOYUT */
    font-size: 24px;

    color: white;

    /* PÜRÜZSÜZ OUTLINE */
    text-shadow:
        0 0 2px #000,
        0 0 3px #000,
        0 0 4px #000;

    user-select: none;
}


